<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Curve Point</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/curvePoint/validate}" th:object="${curvePoint}" method="post" class="form-horizontal" style="width: 100%">
			<div class="form-group" >
				<label for="curveId">Curve Id</label>
				<input type="number" th:field="*{curveId}" class="form-control" id="curveId" placeholder="Curve Id"/>
				<p><span class="text-danger" th:text="${errorcurve}">Curve Error</span></p>
			</div>
			<div class="form-group">
				<label for="term">Term</label>
				<input type="number" th:field="*{term}" class="form-control" id="term" placeholder="Term"/>
			</div>
			<div class="form-group">
				<label for="value">Value</label>
				<input type="number" th:field="*{value}" class="form-control" id="value" placeholder="Value"/>
			</div>
			<button class="btn btn-danger" type="submit" name="action" value="cancel">Cancel</button>
			<button class="btn btn-primary" type="submit" name="action" value="add">Add CurvePoint</button>
		</form>
	</div>

</div>
</body>
</html>